@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@600;700;800&display=swap");

@theme {
  /* Neutral */
  --color-neutral-900: #163a34;
  --color-neutral-600: #395852;
  --color-neutral-300: #d0dcd9;
  --color-neutral-200: #e0e6e3;
  --color-neutral-100: #f6f5f1;
  --color-neutral-0: #ffffff;

  /* Brand */
  --color-orange-500: #fe9f6b;
  --color-teal-500: #49ac9b;
  --color-indigo-500: #697ddb;

  /* Font */
  --font-nunito: "Nunito", sans-serif;

  /* Spacing */
  --spacing-0: 0px;
  --spacing-025: 2px;
  --spacing-050: 4px;
  --spacing-075: 6px;
  --spacing-100: 8px;
  --spacing-125: 10px;
  --spacing-150: 12px;
  --spacing-200: 16px;
  --spacing-250: 20px;
  --spacing-300: 24px;
  --spacing-400: 32px;
  --spacing-500: 40px;
  --spacing-600: 48px;
  --spacing-800: 64px;
  --spacing-1000: 80px;
  --spacing-1200: 96px;
  --spacing-1400: 112px;
  --spacing-1600: 128px;
  --spacing-1800: 140px;

  /* Border Radius */
  --radius-0: 0px;
  --radius-4: 4px;
  --radius-6: 6px;
  --radius-8: 8px;
  --radius-10: 10px;
  --radius-12: 12px;
  --radius-16: 16px;
  --radius-20: 20px;
  --radius-24: 24px;
  --radius-full: 999px;
}

@layer components {

  .text-preset-7 {
    font-size: 18px;
    font-weight: 600;
    line-height: 150%;
    letter-spacing: -0.3px;
  }
}
